*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}

body{
    background: #000000;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(./img.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 500px;
}

nav ul li a::after{
    content: ' ';
    width: 0;
    height: 2px;   
    background: #e80d5d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 90%;

}

.header-text{
    margin-top: 20%;
    font-size: 25px;
    font-style: initial;
}

.header-text h1{
    font-size: 60px;
    margin-top: 10px;
    color: #84e2cc;
}

.header-text h3{
    font-size: 30px;
    margin-top: 10px;
    
}
.header-text p{
    font-size:20px ;
    margin-top: 10px;
}

#about{
    padding: 70px 0;
    color: #ababab;
    font-style:normal;
}
.col-2 p{
    font-style: italic;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.col-1{
    flex-basis: 35%;
}
.col-1 img{
    width: 100%;
    border-radius: 40px;
}
.col-2{
    width: 60%;
}
.title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;

}
.link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.link::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #26ff00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.link.aa-skill::after{
    width: 60%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-content ul li span{
    color: rgba(255, 5, 88, 0.965);
    font-size: 14px;
}
.tab-content{
    display: none;
}
.tab-content.first{
    display: block;
}



#services{
    padding: 10px 0;
    margin: 50px;
    font-style: initial;
    margin-left: 140px;
    margin-top: 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 200;
    border-radius: 10px;
    transition-duration: 0.5s;
    transform: 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #2929ed;
    font-size: 20px;
    margin-top:20px;
    display: inline-block;
}

.services-list div:hover{
    background: #37cade;
    transform: translatey(-10px);
}




#portfolio{
    padding: 20px 0px;
    font-size: 30px;
}

.work-list{
    display:flex;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 50px;
    margin-top: 50px;

}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
   max-height: 600px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#3e17ea);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 40px;
    color: #de2323ef;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.3);
    transition: 0.5s;

}
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ff004f;
}

.btn:hover{
    background: #dd2d65;
    transition: 0.5s;
    
}
#contact{
    background-color: #3f3c3c;
    border-radius: 20px;
}

.contact-left{
    flex-basis: 40%;
}

.contact-right{
    flex-basis: 40%;

}

.contact-left p{
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 30px;
}
.contact-left p i{
    color: #e51d1d;
    margin-right: 15px;
    font-size: 25px;
}

.social{
    margin-top: 30px;
}
.social p{
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.social a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 13px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social a:hover{
    color: #ff004f;
    transform: translatey(-5px);
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 25px;
    border-radius: 6px;
    display: inline-block;
}
